<%- include("header") -%>

  <section class="sec">
    <h1>Your Orders</h1>

    <div class="products">
      <% orders.reverse(); for(let order of orders){%>
      <div class="product">
        <p class="proTitle"><%= order._id%></p>
        <div class="proDes">

          <ul>
            <% for(let product of order.products){%>
            <li><%= product.title%></li>
            <%}%>
            </ul>

            <p>Total Value: Rs.<%= order.totalVal%></p>
            <p>Current Status: <%= order.status%></p>

        </div>

      </div>
      <%}%>
    </div>
  </section>

</body>
</html>
