<%- include("header") -%>

  <section class="sec">
    <h2><%= shopDetails.shopName%></h2>
    <img src="<%= qrsrc%>" alt="">

    <a href="/shop/addproduct">Add Product</a>

    <a href="/shop/orders">Orders</a>

    <div class="">
      <% for(let product of products){%>
        <div class="">
          <p><%= product.title%></p>
          <p><%= product.des%></p>
          <p><%= product.price%></p>
          <p><%= product.currStock%></p>

          <form class="" action="/shop/delProduct" method="post">
            <button type="submit" name="delBtn" value="<%= product._id%>">Delete Product</button>
          </form>
          <form class="" action="/shop/updStock" method="post">
            <input type="Number" name="updStockVal" placeholder="new Stock">
            <button type="submit" name="updStockBtn" value="<%= product._id%>">Update</button>
          </form>

        </div>
      <%}%>
    </div>
  </section>

</body>
</html>
